
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ErrorLayout</title>
    @RenderSection(name: "styles", required: false)
</head>
<body>
    <div>
        <h1>Sedc layout</h1>
        @RenderBody()
        <h1>sedc footer</h1>
    </div>
    @RenderSection("scripts",false)
</body>
</html>
