
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_ErrorLayout</title>
</head>
<body>
    <div>
        <h1>before body</h1>
        @RenderBody()
        <h1>before body</h1>
    </div>
</body>
</html>
